<table border="1" class="table-hover table-striped" >
    <thead>
    <tr>
        <th>ID</th>
        <th>Name of the Game</th>
        <th>Developer</th>
        <th>Category</th>
        <th>Game Picture</th>
        <th>More details</th>
    </tr>
    </thead>
    <tbody>
    <% @games.each do |game| %>
    <tr class="<%=cycle('odd','even')%>">
        <td><%= game['id']%></td>
        <td><%= game['title']%></td>
        <td><%= game['developer']%></td>
        <td><%= game['platform']%></td>
        <td><%= image_tag(game['thumbnail'])%></td>
         <td class="col-lg-2"><%= link_to "view details",game_path(game['id']), class:"btn btn-primary"%></td>
    </tr>
    <%end%>
    </tbody>
</table>
